/* variables */
:root {

    --header--height: 4rem;

    --text-clr: hsl(190deg 64% 22%);
    --bg-clr: white;
}

/* dark theme */

body.dark__theme {
    --text-clr: white;
    --bg-clr: black;
}

/* reset */

body {
    margin: 0;
    padding: 0;
    color: var(--text-clr);
    background-color: var(--bg-clr);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
header,
section,
ul,
button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    background-color: transparent;
}

img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

/* General style */
html{
    scroll-behavior: smooth;
}

[id]{
    scroll-margin-top: 6rem;
}

.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.container {
    margin-inline: 8rem;
}


/* Header */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header--height);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.active-link{
    position: relative;
}
.active-link::before{
  content: "";
  position: absolute;
  bottom:-1.5rem;
  width: 100%;
  left: 0;
  border: 2px solid var(--text-clr);
}
/* Change background header */
.scroll-header {
    background-color: var(--bg-clr);
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .container {
    color: var(--text-clr);
}

.nav .nav__items {
    display: flex;
}

.nav__item,
.logo {
    padding: 1em;
    font-size: 1.2rem;
    font-weight: 500;
}

.menu__button {
    display: none;
}

#nav-close {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
}


/* home */
.home {
    margin-top: var(--header--height);
}

.home .container {
    margin-top: 4rem;
    color: white;
    position: relative;
    /* height: 100vh; */
}

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

.home__subtitle {
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
}

.home__title {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.home__button {
    font-size: 1.3rem;
    color: white;
    background: hsl(190deg 64% 22%);
    padding: 1em;
    margin-bottom: 7rem;
}

.socialmedia__list {
    display: flex;
}

.socialmedia__list li {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.home__card {
    background-color: hsl(190deg 64% 22%);
    width: 350px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    padding: 1.5rem 1rem;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}

.home__card .card__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.card__content {
    margin-right: 1rem;
}

.home__card_img__div {
    overflow: hidden;
}

.card__img {
    width: 200px;
    height: 100px;
    transition: 0.3s;
}

.card__img:hover {
    transform: scale(1.1);
}

.card__button {
    color: white;
    display: flex;
    align-items: center;
    margin-top: 1rem;


}

/* More features */

.more__features .container {
    display: flex;
    align-items: center;
    margin-top: 10rem;
    color: hsl(190deg 64% 18%);
    column-gap: 1rem;
}

.more__feature__header {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.home__card_ig__div {
    overflow: hidden;
}

.more__img {
    transition: 0.3s;
}

.home__card_ig__div:first-child img {
    width: 230px;
}

.home__card_ig__div:last-child img {
    width: 290px;
}

.more__img:hover {
    transform: scale(1.1);
}

.more__text {
    margin-bottom: 2rem;
}

.more__imgs {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.more__button {
    background-color: hsl(190deg 64% 18%);
    font-size: 1.1rem;
    color: white;
    padding: 1em;
}


/* discover */
.discover__cards {
    display: flex;
    gap: 1rem;
}

.swiper {
    width: 700px;
}

.discover__card {
    position: relative;
    width: 237px;
    overflow: hidden;

}

.discover__data {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    width: 100%;
    color: white;
}



.discovery__card__header {
    font-size: 2.2rem;
    color: white;
}

.discover__card img {
    transition: 0.3s;
}

.discover__card:hover img {
    transform: scale(1.1);
}

.discover__header {
    text-align: center;
    font-size: 1.7rem;
    margin-block: 2rem;
}


/* experience */
.experience__header {
    text-align: center;
    margin-block: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.experience__list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.experience__list li {
    margin-right: 1rem;
}

.experience__list li h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.experience__lis li span {
    font-size: 0.875rem;
}

.experience__imgs {
    position: relative;
    display: flex;
    justify-content: center;
}

.experience__overlay {
    width: 463px;
    overflow: hidden;
}

.experience__overlay img {
    transition: 0.3s;
}

.experience__overlay:hover img {
    transform: scale(1.1);
}

.experience__overlay:last-child {
    margin-left: -91px;
    width: 220px;
    position: relative;
    top: 3rem;
}


/* tour  */

.tour .container {
    margin-top: 10rem;
    text-align: center;
}

.tour__header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.tour__text {
    width: 44%;
    margin-inline: auto;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.tour__video {
    width: 60%;
    margin-inline: auto;
    position: relative;
}

.video__button {
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    background: hsl(190deg 64% 22%);
    padding: 1em 2em;
    /* transform: translate(50%,50%); */
}

.video__button-icon {
    font-size: 1.5rem;
    color: white;
}


/* places */

.places {
    margin-top: 10rem;
}

.places___header {
    text-align: center;
    margin-bottom: 5rem;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 3rem 2rem;
    justify-content: center;
}

.place__card {
    position: relative;
    height: 263px;
}

.place__review {
    width: fit-content;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.place__info {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: white;
}

.info__header {
    margin-bottom: 0.3rem;
}

.place__price {
    display: block;
    margin-top: 1.5rem;
}

.place__button {
    padding: 1em;
    position: absolute;
    background: var(--text-clr);
    bottom: 0;
    right: 0;
}

.place__button .ri-arrow-right-line {
    font-size: 1.1rem;
    color: white;

}

.place__card img {
    height: 263px;
    transition: 0.3s;
}

.place__card {
    overflow: hidden;
}

.place__card:hover img {
    transform: scale(1.1);
}


/* subscribe */
.subscribe {
    margin-top: 3rem;
}

.subscribe .container {
    background-color: var(--text-clr);
    color: white;
    text-align: center;
    padding: 3rem;
}

.subscribe__header{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.subscribe__text{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.subscribe__input{
    position: relative;
    background-color: white;
    width: 61%;
    margin-inline: auto;
    margin-top: 2rem;
}

.subscribe__input input{
    border: none;
    padding: 2em;
    width: 70%;
}

.subscribe__input input:focus-visible {
outline: none;
}

.subscribe__input button{
    background-color: var(--text-clr);
    color: white;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}


/* sponsors */
.sponsors .container{
    display: flex;
    flex-wrap: wrap;
    margin-block: 6rem;
    justify-content: space-between;
}

.sponsor__img{
    width: 100px;
    filter: invert(0.7);
    margin-bottom: 3rem;
}


/* footer */
.company__contactus{
    display: flex;
    justify-content: space-between;
}
.footer__header {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.footer__socialmedia{
    display: flex;
}

.footer__socialmedia li{
    margin-right: 1rem;
    font-size: 1.4rem;
    margin-block: 2rem;
}

.footer__list li{
    color:hsl(190deg 24% 35%);
    margin-bottom: 0.5rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright .copyright__text{
    margin-block: 1rem;
}

.copyright__info a:first-child{
    margin-right: 1rem;
}
/* media queries */

@media screen and (max-width:400px) {

    /* variables */
    :root {

        --header--height: 3rem;
    }

    .container {
        margin-inline: 1rem;
    }

    .menu__button {
        display: block;
    }

    .nav {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 0;
        transition: all 500ms ease-in-out;
        width: 68%;
        background-color: var(--bg-clr);
        padding-top: var(--header--height);
        z-index: 100;
    }

    .nav.show {
        visibility: visible;
        right: 0;
        opacity: 1;
    }

    .nav__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;
    }

    .nav.show #nav-close {
        display: block;
    }

    #theme-button {
        position: absolute;
        bottom: 3.4rem;
        right: 2rem;
    }

    /* home */
    .home .container {
        margin-top: 1rem;
    }

    .home__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .home__button {
        font-size: 1rem;
    }

    .home__card {
        width: 150px;
        bottom: 6rem;
        right: 0;
        padding: 0.5rem 0.5rem;
    }

    .card__content {
        margin-right: 0.5rem;
    }

    .socialmedia__list {
        position: absolute;
        bottom: 5rem;
        left: 0;
    }

    .home__card .card__title {
        font-size: 0.7rem;
    }

    .card__button {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }

    .card__img {
        width: 100px;
        height: 50px;
    }

    .socialmedia__list li {
        font-size: 1rem;
    }

    /* More features */
    .more__features {
        margin-top: -9rem;
    }

    .more__features .container {
        display: flex;
        row-gap: 2rem;
        flex-direction: column;
    }

    .more__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .more__feature__header,
    .more__text {
        text-align: center;
    }

    .home__card_ig__div:first-child img {
        width: 130px;
    }

    .home__card_ig__div:last-child img {
        width: 180px;
    }

    /* more places */
    .swiper {
        width: 300px;
    }

    .swiper-slide {
        width: 200px;
    }

    /* exprience */

    .experience__overlay {
        width: 190px;
    }

    .experience__overlay:last-child {
        width: 80px;
        margin-left: -48px;
        top: 2rem;
    }

    /* tours */
    .tour__header {
        font-size: 1.5rem;
        margin-bottom: 1rem;

    }

    .tour__text {
        font-size: 1rem;
        width: 100%;
    }

    .tour__video {
        width: 100%;
    }

    .video__button-icon {
        font-size: 1rem;
    }

    /* places */
    .places__cards {
        grid-template-columns: max-content;
    }

    .place__card,
    .place__card img {
        height: 230px;
    }

    /* subscribe */
    .subscribe .container{
        padding: 2rem 1rem;
        margin: unset;
    }
    .subscribe__header{
        font-size: 1.5rem;
    }
    .subscribe__text{
        font-size: 1rem;
    }
    .subscribe__input{
        width: 100%;
    }
    .subscribe__input input{
        width: 47%;
    }

    /* footer */
    .company__contactus{
        flex-direction: column;
    }

    .copyright{
        flex-direction: column;
    }
}